<div class="col-xs-12 col-md-offset-1 col-md-10 borderBlock">
	<h2><%= @post.title  %></h2> 
	<p><%= @post.content.html_safe %></p>
	<p><%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>
	<p><%= @post.created_at %></p>
</div>

<% if signed_in? %>
	<div class="size-comments col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
		<%= render 'comments' %>
	</div>
<% end %>